
.square{
   height: 40px;
   width: 40px;
   margin: 10px;
   border: none;
   border-radius: 4px;
}
.board-row{
  display: flex;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}